.todo_input {
  border-radius: 2px;
  border: 1px;
  margin-right: 5px;
  height: 30px;
  background-color: transparent;
}
.todo_wrapper {
  margin-bottom: 5px;
}
.h2_todo_list {
  text-align: center;
  font-size: 35px;
}
.edit_button {
  width: 40px;
  border: 1px;
  border-radius: 2px;
  height: 32px;
}
.delete_button {
  margin-right: 15px;
  border: 1px;
  border-radius: 2px;
  background-color: rgb(243, 179, 179);
  height: 32px;
}
