.nav {
  background-color: rgb(38, 59, 52);
  display: flex;
  padding: 20px;
  justify-content: flex-start;
}
.item {
  margin-left: 10px;
  font-size: 30px;
}
.item a {
  display: block;
  text-decoration: none;
  color: white;
  width: 200px;
  text-align: center;
}

.active {
  background-color: rgb(66, 57, 57);
  border-radius: 2px;
  border: 1px solid black;
  text-decoration: underline;
}
